[submodule "plugins/decayimage"]
	path = plugins/decayimage
	url = git@github.com:March-hare/decayimage.git
[submodule "plugins/endtime"]
	path = plugins/endtime
	url = git@github.com:March-hare/endtime.git
[submodule "plugins/densitymap"]
	path = plugins/densitymap
	url = https://github.com/jetherton/densitymap
[submodule "plugins/mobile"]
	path = plugins/mobile
	url = git@github.com:March-hare/mobile.git
