# Turn on URL rewriting only when mod rewrite is turn on

<IfModule mod_rewrite.c>
	RewriteEngine On

	# Installation directory
	RewriteBase /

	# Protect application and system files from being viewed
	RewriteRule ^(application|modules|system|tests|sql) - [F,L]

	# Prevent schedulers from being accessed remotely
	RewriteCond %{REMOTE_ADDR} !^127.0.0.1$
	RewriteRule ^scheduler - [F,L]

  # We want the main page the /main ink to go to decayimage
	RewriteRule ^main$ decayimage [L,R=permanent]
	RewriteRule ^main/(.*) decayimage/$1 [L,R=permanent]
	RewriteRule ^$ decayimage [L,R=permanent]

  # We also want all references to /alerts to go to /messaging
	RewriteRule ^alerts$ messaging [L,R=permanent]

	# Allow any files or directories that exist to be displayed directly
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	# Rewrite all other URLs to index.php/URL
	RewriteRule .* index.php/$0 [PT,L]
</IfModule>

AddType application/x-httpd-php .jpg
# Protect the htaccess from being viewed
<Files .htaccess>
	order allow,deny
	deny from all
</Files>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

#Follow symlinks
Options +FollowSymlinks
